<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <img class="first-slide" src="images/slide1.jpg" alt="First slide">
            <div class="carousel-caption">
              妖娆的极光
              <br/>Enchanting Aurora 
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <img class="second-slide" src="images/slide2.jpg" alt="Second slide">
            <div class="carousel-caption">
              美丽的九寨沟
              <br/> Beautiful Jiuzhaigou
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <img class="third-slide" src="images/slide3.jpg" alt="Third slide">
            <div class="carousel-caption">
              飘逸的火山烟
              <br/>Flowing smoke of volcano in Hawaii
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
