<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0CAcQjRxqFQoTCMT0ndaz08cCFUlxPgodz98FAQ&url=http%3A%2F%2Farticle.pchome.net%2Fcontent-769501-22.html&ei=elPkVcTPHMni-QHPv5cI&psig=AFQjCNEtCL-0HwaQ0nW8WAKVUkcU8ly0oA&ust=1441113295418422" height="50" style="margin-top: -15px;"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for item in site.page %}
              {% if item.url_cn == page.url %} 
                <li class="active">
              {% else %}
                <li>
              {% endif %}
              <a href="{{ site.baseurl }}{{ site.url }}{{ item.url_cn }}">
                {{ item.title_cn }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
